* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: roboto;
    font-size: 15px;
    /* background-image: url(../assets.); */
    line-height: 1.5;
    height: 100vh;
}
h4 {
    text-align: center;
    font-size: 17px;
    padding: 5px;
    font-weight: 800;
    color: red;
}
.page-content {
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
     flex-direction: row; 
    justify-content: space-evenly;
    height: 90%;
    /* overflow-y: scroll; */
    

}
.dishControl {
    display: flex;
    flex-direction: column;
    float: left;
    justify-content: space-evenly;
    align-content: space-evenly;
    margin-top: 3.5em;
   width: 20%;
}

.allDishes button {

   border: none;
   padding: 5px;
   width: 30%;
   font-size: 17px;
   border-radius: 10px;
   cursor: pointer; 
   margin: 10px;
}
.modal-content {
    background-color: whitesmoke;
    padding: 5px;
    /* width: 50%; */
    justify-content: space-evenly;
    align-content:center ;
    align-items: center;
    justify-content: center;
    margin: 10px;
    border-radius: 15px;
    
 } 
 #addDishForm, #updateDishForm {
   display: flex;
   flex-direction: column;
   /* justify-content: center; */
   /* align-content: center; */
   align-items: center;
 }
 #submitButton {
    border: none;
    background-color: red;
    color: white;
    padding: 5px;
    width: 40%;
    font-size: 15px;
    border-radius: 10px;
    cursor: pointer; 
    margin: 10px;
    font-weight: 700;
    box-shadow: 0 4px 6px 0;

 }
 .input {
    width: 80%;
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 3px;
    margin-bottom: 3px;
   
 }
 label {
    font-size: 15px;
    font-weight: bold;
   text-align: center;
 }
 .updateDish {
    background-color: wheat;;
    padding: 5px;
    width: 50%;
    justify-content: space-evenly;
    align-content:center ;
    align-items: center;
    border-radius: 15px;
    margin: 10px;
    box-shadow: 0 6px 8px 0;
 }

  #allDishesContainer {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
 } 
 .allDishes {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    justify-content: center;
    align-content:center ;
    align-items: center;
    margin-top: 10px;
    border-radius: 15px;
    resize: vertical;
    width: 70%;
    float: left;
 }
 .dishItem {
    height: 12em;
    width: 12em;
    /* border: 2px solid #666; */
    margin: 10px;
    padding: 10px;
    box-shadow: 0 6px 8px 0;
 }
 .deleSearch {
    padding: 5px;
    /* width: 0%; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content:center ;
    align-items: center;
    margin: 10px;
    border-radius: 15px;
 }

 .searchDish, .dishDetails {
    text-align: center;
    margin: 5px;
    /* border: 1px solid #be9696; */
    /* box-shadow: 0 6px 8px 0; */
 }

 .deleSearch button {
    
    border: none;
    background-color: rgb(224, 216, 216);
    padding: 5px;
    /* width: 25%; */
    font-size: 12px;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
    font-weight: 700;
    /* box-shadow: 0 6px 8px 0; */
 }
 
 .deleSearch input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    /* box-sizing: border-box; */
    margin-top: 3px;
    margin-bottom: 3px;
    /* resize: vertical; */
    /* box-shadow:  0 6px 8px 0; */
 }

 .orderControl {
    justify-content: space-evenly;
    align-content: space-evenly; 
    border: 1px solid #666;
    width: 100%; 
    overflow-y: scroll;
    /* justify-content: center; */
    /* align-items: center;*/
 } 

 .dayOrders {
    display: flex;
    flex-direction: column;
    width: 100%;
   
 }

 .orderControl button {
    border: none;
    background-color: rgb(224, 216, 216);
    padding: 5px;
    width: 80%; 
    font-size: 15px;
    border-radius: 10px;
    cursor: pointer;
    margin: 10px;
    font-weight: 700;
    /* box-shadow: 0 6px 8px 0; */
 }
 
#ordersList {
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    justify-content: space-evenly;
    margin-top: 10px;
    border-radius: 15px;
    width: 100%; 
    font-size: 12px;
     justify-content: center;
}

#ordersList li {
    list-style-type: none;
    text-align: center;
    border: 1px solid #cccc;

}

#ordersList p {
   text-align: center;
}

#ordersList div {
   border: 1px solid #1f1d1dcc; 
   margin: 5px;
   justify-content: center;
   text-align: center;
   padding: 5px;
   width: ;
}

#dishContainer div {
   /* border: 1px solid #1f1d1dcc; */
   margin: 5px;
   width: 13em;
   padding: 5px;
   text-align: center;
   box-shadow: 0 2px 4px 0;
   font-size: 15px;
}

#dishContainer {
   display: flex;
   flex-wrap: wrap;
}
#ordersList button {
   width: 100%;
   border: none;
   justify-content: center;
   align-content: center;
   align-items: center;

}
.hidden {
   display: none;
}

.modal {
   position: fixed;
   z-index: 1;
   left: 30;
   top: 0;
   width: 40%;
   /* height: 100%;  */
   overflow: auto;
}

.modal-content {
   background-color: #fefefe;
   margin-top: 4%;
   /* padding: 20px; */
   border: 1px solid #888;
   width: 80%;
}

#closeModalBtn, #closeUpdateModalBtn {
   font-size: 20px;
   float: right;
   cursor: pointer;
   color: #aaa;
 padding: 1px 4px;
 

}

#closeModalBtn:hover,
#closeModalBtn:focus,
#closeUpdateModalBtn:hover,
#closeUpdateModalBtn:focus {
   color: white;
   text-decoration: none;
   cursor: pointer;
   background-color: red;
}
 
[id^="orders-"] {
   display: flex;
   justify-content: space-evenly;
}
div[id$="-section"] h2 {
   color: blue; /* Example styling */
   text-transform: uppercase;
   font-size: 17px;
   text-align: center;
}

div[id$="-section"] {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}