/* Coolors Exported Palette - https://coolors.co/eb2106-d2c9ca-ffedbf-422f46-ffedbf-ffba06-15115c-332f71-ffffff */

/* CSS HEX */
--off-red-rgb: #EB2106ff;
--silver: #D2C9CAff;
--peach: #FFEDBFff;
--english-violet: #422F46ff;
--peach-2: #FFEDBFff;
--selective-yellow: #FFBA06ff;
--federal-blue: #15115Cff;
--delft-blue: #332F71ff;
--white: #FFFFFFff;

/* CSS HSL */
--off-red-rgb: hsla(7, 95%, 47%, 1);
--silver: hsla(353, 9%, 81%, 1);
--peach: hsla(43, 100%, 87%, 1);
--english-violet: hsla(290, 20%, 23%, 1);
--peach-2: hsla(43, 100%, 87%, 1);
--selective-yellow: hsla(43, 100%, 51%, 1);
--federal-blue: hsla(243, 69%, 21%, 1);
--delft-blue: hsla(244, 41%, 31%, 1);
--white: hsla(0, 0%, 100%, 1);

/* SCSS HEX */
$off-red-rgb: #EB2106ff;
$silver: #D2C9CAff;
$peach: #FFEDBFff;
$english-violet: #422F46ff;
$peach-2: #FFEDBFff;
$selective-yellow: #FFBA06ff;
$federal-blue: #15115Cff;
$delft-blue: #332F71ff;
$white: #FFFFFFff;

/* SCSS HSL */
$off-red-rgb: hsla(7, 95%, 47%, 1);
$silver: hsla(353, 9%, 81%, 1);
$peach: hsla(43, 100%, 87%, 1);
$english-violet: hsla(290, 20%, 23%, 1);
$peach-2: hsla(43, 100%, 87%, 1);
$selective-yellow: hsla(43, 100%, 51%, 1);
$federal-blue: hsla(243, 69%, 21%, 1);
$delft-blue: hsla(244, 41%, 31%, 1);
$white: hsla(0, 0%, 100%, 1);

/* SCSS RGB */
$off-red-rgb: rgba(235, 33, 6, 1);
$silver: rgba(210, 201, 202, 1);
$peach: rgba(255, 237, 191, 1);
$english-violet: rgba(66, 47, 70, 1);
$peach-2: rgba(255, 237, 191, 1);
$selective-yellow: rgba(255, 186, 6, 1);
$federal-blue: rgba(21, 17, 92, 1);
$delft-blue: rgba(51, 47, 113, 1);
$white: rgba(255, 255, 255, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #EB2106ff, #D2C9CAff, #FFEDBFff, #422F46ff, #FFEDBFff, #FFBA06ff, #15115Cff, #332F71ff, #FFFFFFff);
$gradient-right: linear-gradient(90deg, #EB2106ff, #D2C9CAff, #FFEDBFff, #422F46ff, #FFEDBFff, #FFBA06ff, #15115Cff, #332F71ff, #FFFFFFff);
$gradient-bottom: linear-gradient(180deg, #EB2106ff, #D2C9CAff, #FFEDBFff, #422F46ff, #FFEDBFff, #FFBA06ff, #15115Cff, #332F71ff, #FFFFFFff);
$gradient-left: linear-gradient(270deg, #EB2106ff, #D2C9CAff, #FFEDBFff, #422F46ff, #FFEDBFff, #FFBA06ff, #15115Cff, #332F71ff, #FFFFFFff);
$gradient-top-right: linear-gradient(45deg, #EB2106ff, #D2C9CAff, #FFEDBFff, #422F46ff, #FFEDBFff, #FFBA06ff, #15115Cff, #332F71ff, #FFFFFFff);
$gradient-bottom-right: linear-gradient(135deg, #EB2106ff, #D2C9CAff, #FFEDBFff, #422F46ff, #FFEDBFff, #FFBA06ff, #15115Cff, #332F71ff, #FFFFFFff);
$gradient-top-left: linear-gradient(225deg, #EB2106ff, #D2C9CAff, #FFEDBFff, #422F46ff, #FFEDBFff, #FFBA06ff, #15115Cff, #332F71ff, #FFFFFFff);
$gradient-bottom-left: linear-gradient(315deg, #EB2106ff, #D2C9CAff, #FFEDBFff, #422F46ff, #FFEDBFff, #FFBA06ff, #15115Cff, #332F71ff, #FFFFFFff);
$gradient-radial: radial-gradient(#EB2106ff, #D2C9CAff, #FFEDBFff, #422F46ff, #FFEDBFff, #FFBA06ff, #15115Cff, #332F71ff, #FFFFFFff);