* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  justify-content: center;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}
#navline {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  justify-content: space-between;
  color: #332f71;
  background-color: #ffedbf;
  top: 0;
  padding: 10px;
}
#dish-categories {
  text-align: left;
  font-size: 1.2rem;
  color: #eb2106;
  margin-left: 10px;
}

h3 {

   color: #422f46;
   background-color: transparent;
   font-weight: 800;
   padding: 10px;
   text-align: center;
}

#filter-container {
  display: flex;
  justify-content: space-evenly;
  font-size: 15px;
  margin-top: 15px;
}
select {
  padding: 5px;
  border-radius: 10px;
}

#popular-dishes,
#recent-searches,
#new-dishes,
#all-dishes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
#popular-dishes li,
#recent-searches li,
#new-dishes li,
#all-dishes li {
  margin: 10px;
  border: 1px solid gray;
  text-align: center;
  width: 12em;
  list-style: none;
  height: auto;
}
.dish-card img {
  width: 100%;
  height: 130px;
} 
#cart2 img {
  width: 30px;
  height: 20px;
}

a {
  text-decoration: none;
  color: #15115cff;
  padding: 5px;
  font-size: 20px;
  font-weight: 500;
}
a:hover {
  background-color: #eb2106;
  cursor: pointer;
  /* text-decoration: #007bff; */
  border-radius: 5px;
}
#myForm {
   display: flex;
   flex-direction: column;
   text-align: center;
   width: 50%;
   margin: 10px auto;
   justify-content: center;
   align-content: center;
   align-items: center; 
   border: 1px solid #666;
   justify-content: space-evenly;
   box-shadow: 0 2px 2px 0;
   background-color: #ffff;
} 
input {
   width: 90%;
   padding: 3px; 
   margin: 5px;
   border: 1px solid #ccc;
   border-radius: 4px;
   box-sizing: border-box;
}
.modalOrder {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0, 0, 0); 
  background-color: rgba(0, 0, 0, 0.4); 
}

/* Modal Content/Box  */
 .modal-content-order {
   background-color: rgba(0,0,0,0.0);;
   margin: 1% auto; 
   padding: 20px;
   border: 1px solid #888;
   width: 90%; 
 }

 /* Close Button */
 .close {
   color: #ffff;
   float: right;
   font-size: 28px;
   font-weight: bold;
 }

 .close:hover,
 .close:focus {
   color: #eb2106;
   text-decoration: none;
   cursor: pointer;
   background-color: #ffff;
 }
 .dishType {
   display: flex;
   justify-content: center;
   justify-content: space-around;
   width: 90%;
 }
 #useMyLocationButton {
  display: flex; 
  margin: 10px auto;
  background-color: #332f71ff;
  padding: 5px 10px;
  border-radius: 10px;
  color: #ffff;
}
#mapContainer {
   display: none;
 } 
#orderButton button { 
   display: flex; 
   background-color: #eb2106;
   margin: 5px auto; 
   margin-bottom: 10px;
   border-radius: 10px;
   color: white;
   padding: 5px 10px;
   justify-items: center;
}
#cartItems {
   width: 100%;
   margin: 5px auto;
}
.price { 
   margin: 10px; 
   border: 1px solid #ccc;
   padding: 10px;
   text-align: end;
   border-radius: 10px;
   font-weight: 700;
}

li { 
   list-style: none; 
   border: 1px solid #666; 
   text-align: center;
   background-color:white;
   padding: 5px;
   width: 100%;
   margin: 5px auto;
   /* box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}
.dish-card {
   display: flex;
   flex-direction: column;
   color: black;
   line-height: 1;
}
.dish-card button {
   background-color: #eb2106;
   border: none;
   color: white;
   padding: 5px;
   text-align: center;
   text-decoration: none;
   font-size: 17px;
   border-radius: 5px;
   cursor: pointer; 
   margin: 10px;
   /* box-shadow: 0 3px 4px 0; */
  } 
  p #restaurant {
    background-color: #007bff;
  } 
  .modal {
   /* display: none; /* Hidden by default  */
   position: fixed; /* Stay in place  */
   z-index: 1; /* Sit on top */
   left: 20%;
   top: 0;
   width: 40%; /* Full width */
   height: 100%; 
  overflow: auto; /* Enable scroll if needed  */
  /* background-color: rgb(0, 0, 0);  */
  background-color: rgba(0, 0, 0, 0.4); 
   padding: 20px;
   align-content: center;
 }
  .modal-content {
   color: #007bff;
   background-color: #ffff; 
   margin: 0% auto; /* 15% from the top and centered */
   padding: 20px;
   border: 1px solid #888;
   width: 50%; /* Could be more or less, depending on screen size */
 }
 .close {
   color: red;
   float: right;
   font-size: 26px;
   font-weight: bold;
   top: 0;
 }
 
 .close:hover,
 .close:focus {
   color: black;
   text-decoration: none;
   cursor: pointer;
 }
 .modal-content {
   transition: opacity 0.5s ease-in-out;
 }
 
 .modal.open {
   opacity: 1;
 } 
 
 /* #paymentButton { *
   background-color: #007bff;
   color: white;
   border: none;
   padding: 10px 20px;
   cursor: pointer;
   margin-top: 20px;
 } */

    





 @media screen and (max-width: 600px) {
   .modal-content {
      width: 100%;
    }
   
    .modal-content-order {
      width: 100%;
    }
    .modalOrder #orderForm {
      width: 100%;
    }
  }
   
