* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  justify-content: center;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}
#navline {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  justify-content: space-between;
  color: #332f71;
  background-color: #ffedbf;
  top: 0;
  width: 100%;
  z-index: 2;
  position: fixed;
  padding: 5px;
  
}
#dish-categories {
  text-align: left;
  font-size: 1.2rem;
  color: #eb2106;
  margin-left: 10px;
}
#dish-categories h5 {
  margin-left: 2%;
}

h3 {

   color: #422f46;
   background-color: transparent;
   font-weight: 800;
   padding: 10px;
   text-align: center;
}

#filter-container {
  display: flex;
  justify-content: space-evenly;
  font-size: 15px;
  margin-top: 7%;
}
select {
  padding: 5px;
  border-radius: 10px;
}

#popular-dishes,
#recent-searches,
#new-dishes,
#all-dishes,
#popular-restaurants {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
#popular-dishes li,
#recent-searches li,
#new-dishes li,
#all-dishes li,
#popular-restaurants li {
  margin: 5px;
  border: 1px solid gray;
  text-align: center;
  width: 21em;
  list-style: none;
  /* height: 400px; */
}
.dish-card img {
  width: 100%;
  height: 200px;
} 
.restaurant-card p {
  text-align: center;
  color: black;
}
#cart2 img {
  width: 30px;
  height: 20px;
}

a {
  text-decoration: none;
  color: #15115cff;
  padding: 5px;
  font-size: 20px;
  font-weight: 500;
}
a:hover {
  background-color: #eb2106;
  cursor: pointer;
  /* text-decoration: #007bff; */
  border-radius: 5px;
}
#myForm {
   display: flex;
   flex-direction: column;
   text-align: center;
   width: 50%;
   margin: 20px auto;
   justify-content: center;
   align-content: center;
   align-items: center; 
   border: 1px solid #666;
   justify-content: space-evenly;
   box-shadow: 0 2px 2px 0;
   background-color: #ffff;
} 
input {
   width: 90%;
   padding: 3px; 
   margin: 5px;
   border: 1px solid #ccc;
   border-radius: 4px;
   box-sizing: border-box;
}
.modalOrder {
  display: none; 
  position: fixed; 
  z-index: 2; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0, 0, 0); 
  background-color: rgba(0, 0, 0, 0.4); 
}

/* Modal Content/Box  */
 .modal-content-order {
   background-color: rgba(0,0,0,0.0);;
   margin: 1% auto; 
   padding: 20px;
   border: 1px solid #888;
   width: 90%; 
 }

 /* Close Button */
 .close {
   color: #ffff;
   float: right;
   font-size: 28px;
   font-weight: bold;
 }

 .close:hover,
 .close:focus {
   color: #eb2106;
   text-decoration: none;
   cursor: pointer;
   background-color: #ffff;
 }
 .dishType {
   display: flex;
   justify-content: center;
   justify-content: space-around;
   width: 90%;
 }
 #useMyLocationButton {
  display: flex; 
  margin: 10px auto;
  background-color: #332f71ff;
  padding: 5px 10px;
  border-radius: 10px;
  color: #ffff;
}
#mapContainer {
   display: none;
 } 
#orderButton button { 
   display: flex; 
   background-color: #eb2106;
   margin: 5px auto; 
   margin-bottom: 10px;
   border-radius: 10px;
   color: white;
   padding: 5px 10px;
   justify-items: center;
}
#cartItems {
   width: 100%;
   margin: 5px auto;
}
.price { 
   margin: 10px; 
   border: 1px solid #ccc;
   padding: 10px;
   text-align: end;
   border-radius: 10px;
   font-weight: 700;
}

li { 
   list-style: none; 
   border: 1px solid #666; 
   text-align: center;
   background-color:white;
   padding: 5px;
   width: 100%;
   margin: 5px auto;
   /* box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}
.dish-card {
   display: flex;
   flex-direction: column;
   color: black;
   /* line-height: 0.8; */
   font-size: 12px;
}
.dish-card button {
   background-color: #eb2106;
   border: none;
   color: white;
   padding: 5px;
   text-align: center;
   text-decoration: none;
   font-size: 12px;
   border-radius: 5px;
   cursor: pointer; 
   margin: 5px;
   /* box-shadow: 0 3px 4px 0; */
  } 
  .dish-card p	 {
    margin-bottom: 2px;
    color: black;
    text-transform: lowercase;
    text-transform: capitalize;
  }
  p #restaurant {
    background-color: #007bff;
  } 
  .modal {
   /* display: none; /* Hidden by default  */
   position: fixed; /* Stay in place  */
   z-index: 1; /* Sit on top */
   left: 20%;
   top: 0;
   width: 40%; /* Full width */
   height: 100%; 
  overflow: auto; /* Enable scroll if needed  */
  /* background-color: rgb(0, 0, 0);  */
  background-color: rgba(0, 0, 0, 0.4); 
   padding: 20px;
   align-content: center;
 }
  .modal-content {
   color: #007bff;
   background-color: #ffff; 
   margin: 0% auto; /* 15% from the top and centered */
   padding: 20px;
   border: 1px solid #888;
   width: 50%; /* Could be more or less, depending on screen size */
 }
 .close {
   color: red;
   float: right;
   font-size: 26px;
   font-weight: bold;
   top: 0;
 }
 
 .close:hover,
 .close:focus {
   color: black;
   text-decoration: none;
   cursor: pointer;
 }
 .modal-content {
   transition: opacity 0.5s ease-in-out;
 }
 
 .modal.open {
   opacity: 1;
 } 
 
 /* #paymentButton { *
   background-color: #007bff;
   color: white;
   border: none;
   padding: 10px 20px;
   cursor: pointer;
   margin-top: 20px;
 } */

/* Ensure the modal content is wide enough to accommodate the table */
/* .modal-dialog {
  max-width: 90%;
}

.modal-content {
  padding: 20px;
}

.table thead th {
  text-align: center;
}

.table tbody td {
  text-align: center;
  vertical-align: middle;
}

.table tbody td button {
  margin: 0 5px;
}

.table tbody td.actions {
  display: flex;
  justify-content: center;
  align-items: center;
}

.table tbody td.actions button {
  flex: 1;
}

.table tbody td.actions .quantity {
  flex: 0 0 40px;
  text-align: center;
} */
/* Ensure the modal content is wide enough to accommodate the list */
.modal-dialog {
  max-width: 90%;
}

.modal-content {
  padding: 10px;
}

#orderSummaryList {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.order-summary-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}

.order-summary-item .item-details {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.order-summary-item .item-actions {
  display: flex;
  align-items: center;
}

.order-summary-item button {
  margin: 0 5px;
}

.total-price {
  margin-top: 20px;
  text-align: right;
  font-weight: bold;
}

.star {
  font-size: 25px;
  cursor: pointer;
  color: gray;
}
.star:hover, .star:hover ~ .star.star.selected {
  color: gold;
}
.star.selected {
  color: gold;
}

.dish-card, .restaurant-card {
  border: 1px solid #ddd;
  padding: 10px;
  margin: 10px;
}
.modal-category {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

 .modal-content-category {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
} 

.close-category {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-category,
.close-category {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
#dishContainer ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; 
}
 #dishContainer ul li  {
  width: 21em;
  justify-content: center; 
} 
 #dishContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
} 
#dishesModal {
  margin: 5% auto;

}

#dishesModalContent ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
#dishesModalContent ul li {
  width: 21em;
  justify-content: center;
}

 @media screen and (max-width: 600px) {
   .modal-content {
      width: 100%;
    }
   
    .modal-content-order {
      width: 100%;
    }
    .modalOrder #orderForm { 
      width: 100%;
    }
  }
   
 