* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
    font-family: roboto;
    font-size: 17px;
    background-image: url(../assets.);
    line-height: 1.;
}

#myForm {
    display: flex;
    flex-direction: row;
    /* justify-content: space-evenly;
    align-items: center;  */
}
input {
    width: 90%;
    padding: 8px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
h3 {
    margin-top: 10px;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
    text-align: center;
}

#customerDetails button, #dishSelection button {
    /* background-color: rgb(216, 213, 213); Green */
    border: none;
    color: rgb(77, 7, 7);
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px; 
    cursor: pointer;
    border-radius: 10px;
    justify-items: center;
    font-weight: 700;
     margin-left: 30%;
     box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#orderButton button {
    display: flex;
    margin-left: 10px;
    /* background-color: rgb(211, 210, 210); Green */
    border: none;
    color: rgb(77, 7, 7);
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px; 
    cursor: pointer;
    border-radius: 10px;
    font-weight: 700;
    justify-items: center;
    margin-left: 18%;
    box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
li {
    list-style: none; 
    /* border: 1px solid #666;  */
    text-align: center;
    background-color:white;
    padding: 5px;
    width: 100%;
    margin: 5px auto;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#cartItems {
    /* height: 0em; */
    width: 100%;
    margin: 5px auto;
}
#cartDiv {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 22em;

}
#orderForm {
    margin: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    /* align-items: center;
    justify-content: center;
    align-content: center; */
    border-radius: 10px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#cartDiv p {
    margin: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    text-align: end;
    border-radius: 10px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-weight: 700;

}
input {
    box-shadow: 0 6px 8px 0;
}
/* #messageContainer {
    margin: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    color: red;
    font-weight: 500;
    width: 30%;
    margin-left: 5%;
    font-size: 20px;

} */

