* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: roboto;
    font-size: 17px;
    /* background-image: url(../assets.); */
    line-height: 1;
    height: 200vh;
}

h2 {
   text-align: center; 
   font-size: 22px;
   font-weight: 800;
   padding: 15px;
   margin: 10px;
}
.dish {
    border: 1px solid #ccc;
    width: 11em;
    margin: 10px;
    padding: 10px;
    text-align: center;
    line-height: 1.5;
    box-shadow: 0 6px 8px 0;

}
.dishes {
    display: flex;
}
#dishesContainer {
    display: flex;
    flex-wrap: wrap;
    margin-left: 15px;
    /* justify-content: space-evenly; */
    width: 70%;

}
h3 {

    color: rgb(126, 10, 10);
    font-weight: 800;
    padding: 10px;
    text-align: center;
}

button {
    background-color: red;
    border: none;
    color: white;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    border-radius: 5px;
    cursor: pointer; 
    margin: 10px;
    /* box-shadow: 0 3px 4px 0; */
    
}
#customer-container {
    display: flex;
    justify-content: space-between;
}

#myForm {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 50%;
    margin: 15px auto;
    justify-content: center;
    align-content: center;
    align-items: center; 
    border: 1px solid #666;
    justify-content: space-evenly;
    box-shadow: 0 2px 2px 0;
    background-color: #ffff;
} 
input {
    width: 90%;
    padding: 8px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
h3 {
    margin-top: 10px;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
    text-align: center;
}
#dishSelection {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 2px auto ;
    padding: 10px;
    /* height: 21em; */
    box-shadow: 0 2px 2px 0;
} 
#dishSelection button {
    margin: 2px auto;
}
#cuisineSelection {
    display: flex;
    justify-content: space-evenly;
    justify-content: center;
    align-items: center;
}
.cuisines-container {
 align-items: center;
 border: 1px solid #6666;
 padding: 10px;
 text-align: center;
}

.cuisines-container button {
    margin: 5px auto;
    width: 90%;
}	

.restaurants {
    padding: 10px;
    height: 2;
}

.restaurants p {
    justify-content: space-evenly;
    align-items: center; 
    height: 2;
    margin-top: 8px;
}

#customerDetails button  {
    background-color: #ffff; 
    border: none;
    color: rgb(77, 7, 7);
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 0px; 
    cursor: pointer;
    border-radius: 10px;
    justify-items: center;
    font-weight: 700;
     margin-left: 30%;
     box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#orderButton button {
    display: flex; 
    margin: 5px auto; 
    border: none;
    color: white;
    padding: 5px 10px;
    justify-items: center;
    box-shadow: 0 6px 8px 0;
}

#useMyLocationButton {
    display: flex;
   margin: 10px auto;
   background-color: #ffff;
   box-shadow: none;
   border: 1px solid black;
}
li {
    list-style: none; 
    /* border: 1px solid #666;  */
    text-align: center;
    background-color:white;
    padding: 5px;
    width: 100%;
    margin: 5px auto;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#cartItems {
    /* height: 0em; */
    width: 100%;
    margin: 5px auto;
}
#cartDiv {
    /* border: 1px solid #ccc; */
    padding: 10px;
    border-radius: 10px;
    /* box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    /* width: 100%;  */

}
#orderForm {
     padding: 10px;
    width: 22em; 

}
#cartDiv p {
    margin: 10px; 
    border: 1px solid #ccc;
    padding: 10px;
    text-align: end;
    border-radius: 10px;
    /* box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    font-weight: 700;

}

.modal {
     display: none; /* Hidden by default  */
    position: fixed; /* Stay in place  */
    z-index: 1; /* Sit on top */
    left: 20%;
    top: 0;
    width: 40%; /* Full width */
     height: 50%; 
    overflow: auto; /* Enable scroll if needed  */
    background-color: rgb(0,0,0); /* Fallback color  */
    background-color: aqua;/* Black w/ opacity */
    padding: 20px;
    align-content: center;
  }
  .modal-content {
    color: aliceblue;
    background-color: red;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  .close {
    color: red;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  .modal-content {
    transition: opacity 0.5s ease-in-out;
  }
  
  .modal.open {
    opacity: 1;
  } 
  
  
     
  #mapContainer {
    display: none;
  } 




  @media screen and (max-width: 600px) {
    .modal-content {
       width: 95%;
     }
   }
   